<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paascloud.provider.mapper.MdcProductMapper">
	<resultMap id="BaseResultMap" type="mdcProduct">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
		<result column="category_id" property="categoryId" jdbcType="BIGINT" />
		<result column="main_image" property="mainImage" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="stock" property="stock" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creator_id" property="creatorId" jdbcType="BIGINT" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="last_operator" property="lastOperator"
			jdbcType="VARCHAR" />
		<result column="last_operator_id" property="lastOperatorId"
			jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="sub_images" property="subImages" jdbcType="LONGVARCHAR" />
		<result column="description" property="description" jdbcType="LONGVARCHAR" />
		<result column="product_sn" property="productSn" jdbcType="VARCHAR" />
		<result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="DECIMAL" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="publish_status" property="publishStatus" jdbcType="INTEGER" />
		<result column="new_status" property="newStatus" jdbcType="INTEGER" />
		<result column="recommend_status" property="recommendStatus" jdbcType="INTEGER" />
		<result column="detail_title" property="detailTitle" jdbcType="VARCHAR" />
		<result column="detail_desc" property="detailDesc" jdbcType="VARCHAR" />
		<result column="service_guarantee" property="serviceGuarantee" jdbcType="VARCHAR" />
		<result column="note" property="note" jdbcType="LONGVARCHAR" />
		<result column="preview_status" property="previewStatus" jdbcType="INTEGER" />
		<result column="app_id" property="appId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_OrderBy_Condition">
		<if test="orderBy != null and orderBy !=''">
			ORDER BY ${orderBy}
		</if>
	</sql>
	<sql id="Base_Column_List">
		id,
		version,
		product_sn,
		category_id,
		name,
		subtitle,
		main_image,
		price,
		stock,
		status,
		creator,
		creator_id,
		created_time,
		last_operator,
		last_operator_id,
		update_time,
		original_price,
		unit,
		weight,
		sort,
		publish_status,
		new_status,
		recommend_status,
		detail_title,
		detail_desc,
		service_guarantee,
		note,
		preview_status,
		app_id
	</sql>
	<update id="updateProductStockById" parameterType="com.paascloud.provider.model.dto.ProductDto">
		UPDATE
		pc_mdc_product
		SET stock = stock + #{changeStock}
		WHERE id = #{id}
	</update>
	<select id="selectByNameAndCategoryIds" resultType="com.paascloud.provider.model.domain.MdcProduct">
		SELECT
		<include refid="Base_Column_List" />
		from pc_mdc_product
		where status = 1
		and app_id = #{appId}
		<if test="productName != null and productName !=''">
			and name like concat('%', #{productName}, '%')
		</if>
		<if test="categoryIdList != null">
			and category_id in
			<foreach item="item" index="index" open="(" separator=","
				close=")" collection="categoryIdList">
				#{item}
			</foreach>
		</if>
		<if test="orderBy != null and orderBy != ''">
			order by ${orderBy}
		</if>
	</select>
	<select id="queryProductListWithPage" resultType="com.paascloud.provider.model.vo.ProductVo">
		SELECT
		<include refid="Base_Column_List" />
		from pc_mdc_product
		where 1 = 1
		and app_id = #{appId}
		<if test="name != null and name !=''">
			and name like concat('%', #{name}, '%')
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="productSn != null and productSn!= '' ">
            and product_sn = #{productSn}
        </if>
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="publishStatus != null">
            and publish_status = #{publishStatus}
        </if>
		<include refid="Base_OrderBy_Condition"></include>
	</select>
	
	<update id="batchUpdateProduct" parameterType="com.paascloud.provider.model.dto.MdcBatchEditProductDto">
        UPDATE
        pc_mdc_product
        SET 
        <if test="newStatus != null">
            new_status = #{newStatus},
        </if>
        <if test="publishStatus != null">
            publish_status = #{publishStatus},
        </if>
        <if test="recommendStatus != null">
            recommend_status = #{recommendStatus},
        </if>
        <if test="previewStatus != null">
            preview_status = #{previewStatus},
        </if>
        update_time = now(),
        last_operator = #{lastOperator},
        last_operator_id = #{lastOperatorId}
        WHERE id in 
        <foreach item="item" index="index" open="(" separator=","
                close=")" collection="idList">
                #{item}
            </foreach>
        <if test="appId != null">
           and app_id = #{appId},
        </if>
    </update>
</mapper>